.ancestor{
    height: 400px;
    width: 600px;
    background-color: green;




}
.descnent{
    height: 150px;
    width: 150px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: 130px;
    left: 230px;

    }
    
